* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  position: relative;
  height: 100%;
}

form#enterName {
  background: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
}

form#enterName input {
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 200%;
}

form#enterMessage {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form#enterMessage input {
  border: 0;
  padding: 15px;
  width: 100%;
}

.messages {
  display: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li.roomMsg {
  font: 10px;
  color: #aaa;
}

#messages li:nth-child(odd) {
  background: #eee;
}

